<!DOCTYPE html>
<html>
<head>
    <title>stomp</title>
</head>
<body>
Welcome :<a th:text="${sessionId}"></a><br/>
User : <input id="user" type="text"/>
Password : <input id="password" type="text" value="admin"/>
<br/>
Host : <input id="host" type="text" style="width: 400px;"/>
<br/>
<hr/>

<button onclick="connect()">打开 WebSocket连接</button>
<br/>
<!--<button onclick="one2one()">订阅一对一</button>-->
<!--<button onclick="one2more()">订阅一对多</button>-->
<hr/>
<input type="checkbox" id="one2one">一对一频</input>
<input type="checkbox" id="one2more">一对多频</input>
<br>
ToServer : <br>
<input id="text" type="text" value="this is msg"/>
<button onclick="send()">给系统推送消息</button>
<br>

<br>
ToUser : <br>
<select id="users">
</select>
<br>
<input id="user_text" type="text" value="this is msg"/>
<button onclick="send2User()">给用户推送消息</button>
<br/>
<hr/>

<button onclick="function closeWebSocket() {
    clearMsg();
    setMessageInnerHTML('关闭成功');
        stompClient.disconnect();
    }
    closeWebSocket()">关闭WebSocket连接
</button>
<br/>
<button onclick="clearMsg()">Clear
</button>
<hr/>
<div id="message"></div>
</body>

<!--<script src="http://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>-->
<script th:src="@{/js/sockjs.min.js}"></script>
<script th:src="@{/js/stomp.min.js}"></script>
<script type="text/javascript">

    var stompClient;
    var userId;
    var password;
    // var baseUrl = "http://localhost:8080/web-websocket/";

    // 建立连接对象（还未发起连接）
    function connect() {
        userId = document.getElementById("user").value;
        password = document.getElementById("password").value;
        var socket = new SockJS(document.getElementById("host").value);

        // 获取 STOMP 子协议的客户端对象
        stompClient = Stomp.over(socket);
        // 向服务器发起websocket连接并发送CONNECT帧
        stompClient.connect(
            {
                username: userId,
                password: password
            },
            function connectCallback(frame) {
                // 连接成功时（服务器响应 CONNECTED 帧）的回调方法
                setMessageInnerHTML("连接成功");
                one2one();
                one2more();

            },
            function errorCallBack(error) {
                // 连接失败时（服务器响应 ERROR 帧）的回调方法
                setMessageInnerHTML("连接失败");
            }
        );
    }

    // 订阅 一对一
    function one2one() {
        setMessageInnerHTML("订阅一对一" + "subscribe > /user/" + userId + "/queue/getResponse");
        setMessageInnerHTML("subscribe > /user/" + userId + "/queue/getResponse");
        stompClient.subscribe('/user/' + userId + '/queue/getResponse', function (response) {
            msgHandler(response.body);
            // setMessageInnerHTML("/user/" + userId + "/message getMsg :" + response.body);
        });
    }

    // 订阅 一对多
    function one2more() {
        setMessageInnerHTML("订阅一对多" + "subscribe > /topic/getResponse");
        setMessageInnerHTML("subscribe > /topic/getResponse");
        stompClient.subscribe('/topic/getResponse', function (response) {
            msgHandler(response.body);
            // setMessageInnerHTML("/topic/getResponse getMsg :" + response.body);
        });
    }

    //发送消息
    function send() {
        var one = document.getElementById("one2one").checked;
        var more = document.getElementById("one2more").checked;
        var message = document.getElementById('text').value;

        if (one) {
            // 一对一 发送消息
            stompClient.send("/sendUser", {}, JSON.stringify({"text": message + " -> to one"}));
            setMessageInnerHTML("/sendTopic 你发送的消息:" + message);
        }

        if (more) {
            // 一对多 发送消息
            stompClient.send("/sendTopic", {}, JSON.stringify({"text": message + " -> to more"}));
            setMessageInnerHTML("/sendUser 你发送的消息:" + message);
        }
    }

    function send2User() {
        var message = document.getElementById('user_text').value;
        var userId = document.getElementById('users').value;

        var msg = {
            "text": message + " -> to one",
            "toUser": userId
        }
        stompClient.send("/sendUser", {}, JSON.stringify(msg));
        setMessageInnerHTML("/sendTopic 你发送给 " + userId + "的消息:" + JSON.stringify(msg));
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML) {
        document.getElementById('message').innerHTML += innerHTML + '<br/>';
    }


    function getRootPath() {
        var curWwwPath = window.document.location.href;
        var pathName = window.document.location.pathname;
        var pos = curWwwPath.indexOf(pathName);
        var localhostPaht = curWwwPath.substring(0, pos);
        var projectName = pathName.substring(0, pathName.substr(1).indexOf('/') + 1);
        return (localhostPaht + projectName + "/");
    }

    // 随机用户名
    var chars = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];

    function generateName(n) {
        var res = "";
        for (var i = 0; i < n; i++) {
            var id = Math.ceil(Math.random() * 35);
            res += chars[id];
        }
        return res;
    }

    document.getElementById("host").value = getRootPath() + "webSocketServer";
    document.getElementById("user").value = "user_" + generateName(6);

    function msgHandler(msg) {
        var msgJson = JSON.parse(msg);
        switch (msgJson.type) {
            case "NOTICE":
                setMessageInnerHTML("NOTICE : " + msgJson.text);
                break;
            case "INIT":
                document.getElementById("users").innerHTML = "";
                for (var i = 0; i < msgJson.users.length; i++) {
                    var user = msgJson.users[i]
                    if (userId != user) {
                        var users = document.getElementById("users");
                        var option = document.createElement("option");
                        option.innerHTML = user;
                        users.appendChild(option);
                    }
                }
                break;
            case "NEW_USER":
                if (userId != msgJson.userId) {
                    var users = document.getElementById("users");
                    var option = document.createElement("option");
                    option.innerHTML = msgJson.userId;
                    users.appendChild(option);
                }

                break;
            case "PRIVATE_MSG":
                setMessageInnerHTML("PRIVATE_MSG : " + msgJson.text);
                break;
        }
    }

    function clearMsg() {
        document.getElementById('message').innerHTML = '';
    }
</script>
</html>
